.logo {
  height: 35px;
  width: 35px;
  cursor: pointer;
}

.message-image {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.open {
  height: 30px;
  width: 50;
  cursor: pointer;
}

.close {
  height: 20px;
  width: 40;
  cursor: pointer;
}

.heigth-drawer{
  height: calc(100vh - 1px);
}

.width-drawer{
  width: 250px;
}

.messages{
  max-width: 80%;
  width: 100px;
}

.chatheigth{
  height: calc(100vh - 150px);
}

textarea {
  height: 50px;
  padding: 10px;
  min-height: 50px;
}

textarea:focus {
  border: 1px solid #fff !important;
  outline: none !important;
  box-shadow: none !important;
}

.truncate-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
  text-overflow: ellipsis;
}
